.register-background{
    -fx-background-image: url("images/register.jpg");
    -fx-background-size:  cover;
}

.admin-background{
    -fx-background-image: url("images/admin.jpg");
    -fx-background-size:  cover;
}

.admin-page{
    -fx-background-image: url("images/adminPages.jpg");
    -fx-background-size:  cover;
}

.cart{
    -fx-background-image: url("images/cart.jpg");
    -fx-background-size:  cover;
}

.buyer-background{
    -fx-background-image: url("images/buyer.jpg");
    -fx-background-size:  cover;
}

.seller-background{
    -fx-background-image: url("images/seller.jpg");
    -fx-background-size:  cover;
}


.admin-popup{
    -fx-background-image: url("images/adminPopup.jpg");
    -fx-background-size:  cover;
}

.main{
    -fx-background-image: url("images/main.jpg");
    -fx-background-size:  cover;
}